body{
    -ms-overflow-style: none;
    background-color: black;
}

::-webkit-scrollbar {
    display: none;
}

/*특정 부분 스크롤바 없애기*/

.box{
    -ms-overflow-style: none;
}
.box::-webkit-scrollbar{
    display:none;
}

.head {
    width: 100%;
    height: 500px;
}

.chapter {
    width: 100%;
    height: 300px;
}

.container {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

#profile_box {
    width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;

    position: relative;
    left: 50%;
    transform: translate(-50%, -20%);

    box-shadow: 0px 0px 10px 1px aqua, 0px 0px 0px 1px aquamarine;
    opacity: 0;
    animation: init_box 1s 0s ease forwards;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.init_animation {
    opacity: 0;
    animation: show_up 1s var(--delay) ease forwards;
}

.scroll_animation {
    opacity: 0;
}

.trigger_animation {
    animation: show_up 1s var(--delay) ease forwards;
}

@keyframes show_up {
    from {
        ttransform: translate(0%, 50px);
        opacity: 0;
    }
    to {
        transform: translate(0%, 0px);
        opacity: 1;
    }
}

@keyframes init_box {
    from {
        transform: translate(-50%, -40%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -20%);
        opacity: 1;
    }
}

.list_block {
    width: 500px;
    height: 200px;
    background-color: var(--color);

    margin: 0 auto;
    margin-top: 10px;
    transform: translate(0%, 10px);

    border-radius: 25px 25px 25px 25px / 25px 25px 25px 25px;
    overflow: hidden;
}

.object {
    float: left;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 10px;
    transform: translate(0%, 25px);

    border-radius: 25px / 25px;
    overflow: hidden;
}

h1, h2, h3 {
    margin: auto;
    text-align: center;
    color: aliceblue;

    transform: translate(0%, 10px);
    opacity: 1;
}